.container {
    scroll-snap-type: y proximity;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    border: 1px solid red;
}

.content {
    
}