@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #ececec;
    --text-secondary: #b6b6b6;
    --bg-primary: #000000;
    --bg-secondary: #333333;
    --navbar-bg-primary: #23232e;
    --navbar-bg-secondary: #141418;
    --shadow: rgba(0, 0, 0, 0.3);
    --shadow-hover: rgba(0, 0, 0, 0.75);
    --transition-speed: 600ms;
    --opacity: 0.5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-primary);
    background-color: var(--navbar-bg-primary);
}
  
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

@media only screen and (min-width: 601px) {
    main {
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 0;
    }
}