.container {
    min-height: 100vh;
    background-color: var(--bg-secondary);
}

.content {
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_mediar_bar {
    display: flex;
    height: 3rem;
}

.social_mediar_bar a {
    margin: auto;
    height: 3rem;
}

.social_mediar_bar svg {
    height: 3rem;
    width: 3rem !important;
    transition: scale .2s ease-in-out;
}

.social_mediar_bar svg:hover {
    transform: scale(1.1);
    color: #3FA9F5;
}

@media only screen and (max-width: 600px) {
    .container {
        min-height: calc(100vh - 5rem);
    }

    .content {
        height: calc(100vh - 5rem);
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }
}