.container {
    min-height: 100vh;
    background-color: var(--bg-secondary);
}

.content {
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_picture_container {
    margin: 3rem;
    filter: drop-shadow(0px 0px 15px rgba(63, 169, 245, 0.5));
}

.profile_picture {
    width: 25rem;
    clip-path: ellipse(50% 45% at 50% 45%);
}

@media only screen and (max-width: 600px) {
    .container {
        min-height: calc(100vh - 5rem);
    }

    .content {
        height: calc(100vh - 5rem);
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .profile_picture_container {
        margin: 1rem;
    }

    .profile_picture {
        width: 5rem;
    }
}